
html {
  scroll-behavior: smooth;
}

/* Barra de Progresso */
#nprogress .bar {
  background: #69E5AF;
  height: 3px;
}

#nprogress .spinner-icon {
  width: 30px;
  height: 30px;
  border-top-color: #69E5AF;
  border-left-color: #69E5AF;
}

#nprogress .peg {
  box-shadow: 0 0 10px #69E5AF, 0 0 5px #69E5AF;
}

a:hover {
  cursor:pointer;
  color: #3182ce;
}

code {
  @apply font-sans bg-gray-light px-2
}